.body {
    background-color:black;
}
.dbt {
    position: absolute;
    height:50px;
    width:50px;
    top:70px;
    left:70px;
    border-radius:90px;
}
.sj {
    position: absolute;
    top:85px;
    left:130px;
    font-weight:bold;
    font-size:20px;
    color:white;
}
.bt {
    position: absolute;
    top:20px;
    left:40px;
    height:30px;
    width:30px;
    border-radius:90px;
}
.line{
    position: absolute;
    height:1px;
    width:280px;
    background-color:white;
    left:45px;
}
.mail {
    position: absolute;
    top:150px;
    left:80px;
    height:50px;
    width:60px;
}
.mailus {
    position: absolute;
    font-size:20px;
    top:160px;
    left:150px;
    color:white;
}
.arrow{
    position: absolute;
    top:153px;
    right:40px;
    height:40px;
    width:35px;
}
.mcq {
    color:white;
}
.fcb {
    position: absolute;
    top:230px;
    left:80px;
    height:50px;
    width:50px;
    border-radius:90px;
}
.fcbk {
    position: absolute;
    font-size:15px;
    top:240px;
    left:150px;
    color:white;
}
.arrowb{
    position: absolute;
    top:253px;
    right:40px;
    height:40px;
    width:35px;
.cmp {
    color:#8098ff;
    font-size:10px;
    position: relative;
}